@import './colours.scss';

.consignment-card {
    font-size: 0.9em;
    line-height: 1.8em;
    padding-top: 4px;
}

.property-group {
    padding: 5px 0;
}

.property-group__label {
    display: inline-block;
    width: 50%;
    font-weight: 700;
}

.property-group__label--narrow {
    display: inline-block;
    width: 25%;
    font-weight: 700;
}

.property-group__item--empty {
    font-style: italic;
    color: $grey-300;
}

.package-container {
    font-size: 1.3em;
    padding: 12px 8px;
    background-color: $grey-200;
    margin-bottom: 16px;
}

.package-reference{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 1.5em;
    color: $electio-red;
    font-weight: bold;
}

.package-edit {
    float:left;
    width:50%;
    text-align: right;
}

.package-table th {
    text-align: left;
    background-color: $grey-200;
}

.package-table thead > tr {
    border-bottom: 0 none;
}

.package-table tr,
.package-table tr:hover {
    background-color: $grey-200;
}

.late-icon {
    position:absolute;
    right:20px;
    color: $red-700;
    font-weight:bold;

}

.cancel-link {
    font-size: 1.2em;
}