@import './colours.scss';

.consignment-card {
    font-size: 0.9em;
    line-height: 1.8em;
    padding-top: 4px;
}

.property-group {
    padding: 5px 0;
}

.property-group__label {
    display: inline-block;
    width: 50%;
    font-weight: 700;
}

.property-group__label--narrow {
    display: inline-block;
    width: 25%;
    font-weight: 700;
}

.property-group__item--empty {
    font-style: italic;
    color: $grey-300;
}

.package-container,
.document-container,
.metadata-container {
    /*font-size: 1.3em;*/
    padding: 12px 8px;
    background-color: $grey-200;
    margin-bottom: 16px;
}

.package-reference {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 1.5em;
    color: $electio-red;
    font-weight: bold;
}

.package-edit {
    float:left;
    width:50%;
    text-align: right;
}

.package-table th,
.metadata-table th  {
    text-align: left;
    background-color: $grey-200;
}

.metadata-table th {
    width: 20%;
}

.package-table thead > tr,
.metadata-table thead > tr {
    border-bottom: 0 none;
}

.package-table tr,
.package-table tr:hover,
.metadata-table tr,
.metadata-table tr:hover
 {
    background-color: $grey-200;
}

.document-section,
.metadata-section {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    color: $electio-red;
    font-weight: bold;
    margin-bottom: 20px;
 }

.document-contents {
    margin: 10px 0;
    width: 100%;
}

.document-contents--row {
    padding: 5px 0;
    width: 100%;
    min-height: 25px;
}

.document-contents--column {
    width: 25%;
    float:left;
}

.history-table th {
    text-align:left;
}

.late-icon {
    position:absolute;
    right:20px;
    color: $red-700;
    font-weight:bold;

}

.cancel-link {
    font-size: 1.2em;
}