$electio-red: #df3900;
$light-grey: #ddd;

.mdl-layout__content {
    background-color: $light-grey;
}

.electio-color--red {
    background-color: $electio-red;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after  {
    background: $electio-red;
}