$electio-red: #df3900;
$light-grey: #ddd;
$white: #fff;
$dark-red: rgba(222,32,34, 1);
$darker-red: rgba(150, 0, 0, 1);
$clr-grey: #333;
$clr-spacegrey: #696969;
$clr-lightgrey2: #e0e0e0;
$btn-green: #4daf7c;
@import './colours.scss';

body,html {
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}

html {
font-size: 67.5%
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.main-container {
     flex: 1;
     overflow-y: auto;
     padding: 1.8rem;
     background: $light-grey;
}

a {
    color: $electio-red;
}

a:hover, a:focus {
    color: $dark-red;
}

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

section {
    overflow-y: auto;
}

/*custom buttons*/
.button--action {
    background: $btn-green !important;
    margin-right: 10px;
}

/*layout utils*/
.pad-right {
    margin-right:10px;
}

.panel {
    font-size: 1.3em;
    padding: 20px;
    border-radius: 4px;
    border: solid 1px $grey-300;
    margin-bottom: 30px;
}

.panel--title {
    color: $grey-900;
    font-weight:bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    display: inline-block;
}

.panel--action {
    font-weight: bold;
    color: $grey-700;
    padding-right: 10px;
}

/*vital for mobile resizing!*/
.mdl-grid {
    max-width: 100%;
}

.mdl-layout__content {
    background-color: $light-grey;
}

.electio-color--red {
    background-color: $electio-red;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after  {
    background: $electio-red;
}

.mdl-textfield__label:after {
    background: $electio-red;
}

.mdl-card__title.mdl-card__title--center > .mdl-card__title-text {
    display: block;
    text-align: center;
    width: 100%;
}

.mdl-button--electio-red {
    background: $electio-red;
    color: $white;
}
.mdl-button--electio-red:hover {
    background: $light-grey;
    color: $electio-red;
}
.mdl-button--dark-red {
    background: $dark-red;
    color: $white;
}
.mdl-button--dark-red:hover {
    background: $darker-red;
}

h1.mdl-card__title-text,
h2.mdl-card__title-text {
    color: $electio-red
}

.mdl-card__title > h2 {
    align-self: flex-end;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}

.mdl-card__supporting-text {
    width: calc(100% - 32px); /*account for 16px padding either side*/
}

.tab--cardtext
{
    width: 98%;
}
/*main app layout components*/
/*#app {
    position: absolute;

    .content {
        flex: 1 1 auto;
        overflow-y: auto;
        position: relative;
        width: 100%;
    }

    .header {
        flex: 0 0 auto;
    }
}*/
.menu--header {
    font-size: 2.4em;
    padding: 10px;
    background: $electio-red;
    color: $white;
    min-height: 70px;
    line-height: 70px;
}


/*overrides*/