$electio-red: #df3900;
$light-grey: #ddd;
$white: #fff;
$dark-red: rgba(222,32,34, 1);
$darker-red: rgba(150, 0, 0, 1);

.mdl-layout__content {
    background-color: $light-grey;
}

.electio-color--red {
    background-color: $electio-red;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after  {
    background: $electio-red;
}

.mdl-textfield__label:after {
    background: $electio-red;
}

.mdl-card__title.mdl-card__title--center > .mdl-card__title-text {
    display: block;
    text-align: center;
    width: 100%;
}

.mdl-button--electio-red {
    background: $electio-red;
    color: $white;
}
.mdl-button--electio-red:hover {
    background: $light-grey;
    color: $electio-red;
}
.mdl-button--dark-red {
    background: $dark-red;
    color: $white;
}
.mdl-button--dark-red:hover {
    background: $darker-red;
}