@import './global.scss';

.pagination-container {
    position: absolute;
    right:0;
    bottom:0;
    padding-right:10px;
}

ul.pagination {
    list-style-type: none;
    float: right;
    
    > li {
        list-style-type: none;
        float: left;
    }
}


.pager {min-width: 50px;}

.pager.active {
    background: $electio-red;
    color: $white !important;
}

.pager.active:hover {
    cursor: initial;
    background: $dark-red;
    color: $white;
}