@import 'global.scss';

table {
    font-size: 0.95em;
    color: $clr-grey;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: $grey-200;
}
tr.locked:nth-child(odd):hover {
    background-color: $grey-200;
}

tr:hover, tr:nth-child(odd):hover {
    background-color: $grey-300;
}

tr.locked:hover {
    background-color: $white;
}

tr.selected, tr.selected:nth-child(odd) {
    background-color: $grey-400;
    color: $white;
}

tr.locked {
    font-style: italic;
    color: $grey-400;
}

tr.selected:hover, tr.selected:nth-child(odd):hover {
    background-color: $grey-300;
    color: $black;
} 

thead > tr {
    border-bottom: 1px solid $clr-lightgrey2;
    background-color: $white !important;
}

th.left {text-align: left;}
td.center {text-align: center;}
td, th {
    padding: 10px 5px;
    vertical-align: middle;
    display: table-cell;
}

tfoot > tr {
    border-top: 1px solid $grey-300;
}

tfoot > tr > td {
    column-span: all;
    text-align: right;
    background-color: $white;
    padding-right: 15px;
}

tfoot > tr > td:hover {
    background-color: $white;
}