$unit: 1;

.field {
    height: 0;
}

.check {
    height: 1.0em;
    width: 1.0em;
}

/*.check.checked:after {
    animation: custom-checkmark-expand 140ms ease-out forwards;
}


@keyframes custom-checkmark-expand {
  0% {
    top: .9 * $unit;
    left: .1 * $unit;
    width: 0;
    height: 0;
  }

  100% {
    top: -.1 * $unit;
    left: .01 * $unit;
    width: .5 * $unit;      // Your custom
    height: 1 * $unit;   // Your custom
  }
}*/